<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>신현고등학교 로그인</title>
	<link id="theme-stylesheet" rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
	<script>
		function show(id) {
			document.getElementById(id).style.display = 'block';
		}

		function onLoginClicked(event) {
			event.preventDefault(); // Prevent form submission

			name = document.getElementById('username').value
			pw = document.getElementById('password').value

			if (name == '' || pw == '') {
				return
			}

			fetch(`/try_login/${name}/${pw}`, {
				method: 'GET',
			})
				.then(response => {
					return response.json();
				})
				.then(data => {
					if (data['return'] == false) {
						document.getElementById("result_msg").textContent = "로그인이 실패했습니다."
						document.getElementById("result_msg").textContent += data['reason']
						show('result')
					} else {
						//로그인 성공
						window.location.href = 'main';
					}
					//alert(data['return']);
				});
		}

		// Event listener for form submission
		document.addEventListener('DOMContentLoaded', () => {
			document.getElementById('loginForm').addEventListener('submit', onLoginClicked);
		});
	</script>
</head>

<body>
	<div class="container">
		<h2>신현고등학교 로그인</h2>
		<span id="result" style="display: none; color: red;">
			<h4 id="result_msg"></h4>
		</span>
		<form id="loginForm">
			<div class="form-group">
				<label for="username">사용자 이름</label>
				<input type="text" id="username" name="username" required>
			</div>
			<div class="form-group">
				<label for="password">비밀번호</label>
				<input type="password" id="password" name="password" required>
			</div>
			<button type="submit">로그인</button>
		</form>
		<div class="footer">
			<p>2024 CPU 신현고 모바일 홈페이지 데모</p>
		</div>
	</div>
</body>

</html>