<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>모바일 홈페이지</title>
	<link id="theme-stylesheet" rel="stylesheet" href="{{ url_for('static', filename='css/retro.css') }}">
</head>

<body>
	<div>
		<header>
			<h1>신현고등학교</h1>
			<nav>
				<ul>
					<li><a href="#">홈</a></li>
					<li><a href="#">소개</a></li>
					<li><a href="#">서비스</a></li>
					<li><a href="#">연락처</a></li>
					{% if 'username' in session %}
					<li><a href="#">로그인됨: {{ session['username'] }}</a></li>
					<li><a href="logout">로그아웃</a></li>
					{% else %}
					<li><a href="login">로그인</a></li>
					<li><a href="signup">회원가입</a></li>
					{% endif %}
				</ul>
			</nav>
		</header>
		<main>
			<section>
				<h2>가정 통신문 게시판</h2>
				<ul>
					<li><a href="gatong">가정통신문 내용을 확인해보세요.</a></li>
				</ul>
			</section>
			<section>
				<h2 style="color: chocolate;">2024</h2>
				<ul>
					<li><a href="main">현재로</a></li>
				</ul>
			</section>
		</main>
		<footer>
			<p>2024 CPU 신현고 모바일 홈페이지 데모</p>
		</footer>
	</div>
</body>

</html>